input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

header {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('./assets/Banner-dkt.png');
  background-size: cover;
  
  background-position: 50% 50%;
}

#logo {
  width: 151px;
  height: 113px;
  padding-top: 20px;
}

#h_description1 {
  text-align: center;
  font-size:24px;
  color: #27272A;
  -webkit-text-stroke: 1px #f9fafb;
  font-family: "Inter", Helvetica;
  font-weight: bold;
}

#h_description2 {
  text-align: center;
  font-size: 12px bold;
  color: #f9fafb;
  -webkit-text-stroke: 0.5px #FBBF24;
  font-family: "Inter", Helvetica;
  font-weight: bold;

  @media(max-width:480px){
    color: #27272A;
    -webkit-text-stroke: 0px;
  }
}

.sub-menus {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #FBBF24;
  font-size: 20px;
  justify-content: center;
  font-family: "Inter", Helvetica;
  font-weight: bold;
  color: #27272A;
}

.combo-menus {
  margin-top: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #FBBF24;
  font-size: 20px;
  justify-content: center;
  font-family: "Inter", Helvetica;
  font-weight: bold;
  color: #27272A;
}


.carrinho-img {
  width: 29px;
  height: 26px;
  padding-right: 20px;
}

@media(max-width:480px){
  header {
    background-image: url('./assets/Banner-mbl.png');
  }
}